header{
    padding: 30px;
    width: 100%;
    top: 0;
    
    position: relative;
    background-image: url(/Imagens/cfc5c7a445516540bcbe7d72d246a881.png);
    background-color: burlywood;
}
footer{
    padding: 25px;
    width: 100%;
    bottom: 0;
    box-shadow:  0 0 10px rgb(107, 85, 24);
    
    position: fixed;
    background-image: url(/Imagens/cfc5c7a445516540bcbe7d72d246a881.png);   
}
 
body{
    margin: 0;
    padding: 0;
    
    background-color: rgb(228, 180, 121);
    overflow: hidden;
    background-repeat: initial;
    background-size: auto;
    background-image: url(/Imagens/cfc5c7a445516540bcbe7d72d246a881.png);

}
.Jukebox img{
    width: 7%;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: jukebox_danca 1s infinite alternate;
}
@keyframes jukebox_danca {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(5deg); 
    }
    100% {
        transform: rotate(-5deg); 
    }

}
.music-box {
    width: 20%;
    padding: 20px;
    border: 2px solid rgb(255, 207, 119); 
    background-color: white;
    
    height: max-content;
    text-align: center;
}
.esconder{
    display: none;
}
button {
    font-size: 15px;
    padding: 10px 15px;
    background-color: bisque;
    color: #000000;
    border: none;
    border-radius: 5%;
    cursor: pointer;
}

button::selection {
    background-color: burlywood;
}